
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
{% include 'sidebar.html' %}
<div style="margin-left: 240px; padding: 20px;">

<h2>All Books</h2>

<div class="container"><h2>All Books</h2><table class="table table-striped"><tr><th>Title</th><th>Author</th><th>Copies</th></tr>
{% for book in books %}<tr><td>{{ book.Title }}</td><td>{{ book.Author }}</td><td>{{ book.AvailableCopies }}</td></tr>{% endfor %}
</table></div></body></html>
