<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

{% include 'sidebar.html' %}

<div style="margin-left: 240px; padding: 20px;">

<h2>Book Reviews</h2>

<table class="table table-striped">
    <tr>
        <th>Book</th>
        <th>Reviewer</th>
        <th>Rating</th>
        <th>Comment</th>
    </tr>
    {% for review in reviews %}
    <tr>
        <td>{{ review.title }}</td>
        <td>{{ review.reviewer }}</td>
        <td>{{ review.rating }}</td>
        <td>{{ review.comment }}</td>
    </tr>
    {% endfor %}
</table>

</div>

</body>
</html>
