
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
{% include 'sidebar.html' %}
<div style="margin-left: 240px; padding: 20px;">

<h2>Add Members</h2>

<div class="container"><h2>Add New Member</h2><form method="post">
First Name: <input type="text" name="first_name" class="form-control"><br>
Last Name: <input type="text" name="last_name" class="form-control"><br>
Email: <input type="email" name="email" class="form-control"><br>
Phone: <input type="text" name="phone" class="form-control"><br>
Address: <input type="text" name="address" class="form-control"><br>
<input type="submit" value="Add Member" class="btn btn-primary"></form>
</div></body></html>
