<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
{% include 'sidebar.html' %}
<div style="margin-left: 240px; padding: 20px;">

<h2>Manage Books</h2>

<div class="container">
  <h2>Manage Books</h2>

  <h4>Add New Book</h4>
  <form method="post">
    <input type="hidden" name="action" value="add">
    Title: <input type="text" name="title" class="form-control" required><br>
    Author: <input type="text" name="author" class="form-control" required><br>
    Available Copies: <input type="number" name="available_copies" class="form-control" required><br>
    <input type="submit" value="Add Book" class="btn btn-primary">
  </form>

  <hr>

  <h4>Edit or Delete Books</h4>
  <table class="table table-striped">
    <tr><th>ID</th><th>Title</th><th>Author</th><th>Copies</th><th>Action</th></tr>
    {% for book in books %}
      <tr>
        <form method="post">
          <td>{{ book.BookID }} <input type="hidden" name="book_id" value="{{ book.BookID }}"></td>
          <td><input type="text" name="title" value="{{ book.Title }}" class="form-control" required></td>
          <td><input type="text" name="author" value="{{ book.Author }}" class="form-control" required></td>
          <td><input type="number" name="available_copies" value="{{ book.AvailableCopies }}" class="form-control" required></td>
          <td>
            <input type="hidden" name="action" value="edit">
            <input type="submit" value="Update" class="btn btn-success btn-sm">
        </form>
        <form method="post" style="display:inline;">
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="book_id" value="{{ book.BookID }}">
            <input type="submit" value="Delete" class="btn btn-danger btn-sm">
        </form>
          </td>
      </tr>
    {% endfor %}
  </table>
</div>

</body>
</html>
