<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
{% include 'sidebar.html' %}
<div style="margin-left: 240px; padding: 20px;">


<div class="container"><h2>Return a Book</h2><form method="post">
Borrow ID: <select name="borrow_id" class="form-control">{% for b in borrowed %}<option value="{{ b.BorrowID }}">{{ b.BorrowID }}</option>{% endfor %}</select><br><br>
Name (Optional): <input type="text" class="form-control"><br>
Book Title (Optional): <input type="text" class="form-control"><br>
<input type="submit" value="Return Book" class="btn btn-primary"></form></div></body></html>
